/* style.css */

html, body {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	display: flex;

	/*Center sketch horizontally */
	justify-content: center;

	/* Center vertically */
	align-items: center;
}
